<footer id="footer">
  <div class="footer-top bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>IB IT&B Education Consultant & Admission Office</h3>
          <p>
            Education Consultant Office <br />
            3rd Floor of IB IT&B Main Building <br />
            16 Mahoni St.<br />
            Medan Timur, North Sumatra 20235<br />
            Indonesia<br /><br />
            <strong>Phone:</strong> <a href="tel:+62614530505" class="text-white">+62 61 453 0505</a><br />
            <strong>Whatsapp:</strong> <a href="https://wa.me/6285156237828" class="text-white">+62 851 5623 7828</a><br />
            <strong>Email:</strong> <a href="mailto:educonsultant@itnb.ac.id" class="text-white">educonsultant@itnb.ac.id</a><br />
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Main Websites</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="https://www.itnb.ac.id">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="https://www.itnb.ac.id/about-us">About us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Study Program</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/accounting">Accouting</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/entrepreneurship">Entrepreneurship</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/hospitality-management">Hospitality Management</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/information-system">Information System</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/international-trade">International Trade</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.itnb.ac.id/about-us/management">Management</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-3">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>IB IT&B</span></strong>
        . All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.facebook.com/itnbcampus" class="facebook" target="_blank">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="https://www.instagram.com/itnbcampus" class="instagram" target="_blank">
        <i class="bx bxl-instagram"></i>
      </a>
      <a href="https://wa.me/6285156237828" class="whatsapp" target="_blank">
        <i class="bx bxl-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>