{% extends 'regform/base.html' %}
{% load static %}

{% block title %}IB IT&B | Admission Pathway{% endblock title %}

{% block meta %}
  <meta 
    name="description" 
    content="Welcome to the official Admission Pathway of Institut Bisnis IT&B. We are here to help you who wish in pursuing undergraduate studies at Medan, Indonesia."
  />
  <meta name="keywords" content="itnbcampus, hospitality, entrepreneurship, technopreneur"/>

  <!-- Facebook Opengraph --> 
  <meta property="og:url" content="http://admission.itnb.ac.id" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="IB IT&B Admission Office" />
  <meta property="og:description" content="Welcome fellow students, We are the Education Consultant of IB IT&B. We are here to help you in pursuing your undergraduate studies at Medan, Indonesia." />
  <meta property="og:image" content="http:staticumbo-v2.jpg"/>
{% endblock meta %}

{% block customcss %}
  <link href="{% static 'css/home/style.css' %}" rel="stylesheet" />
{% endblock customcss %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <h1>Where Your Future<br />Begins</h1>
        <p class="h4 text-white mt-3">
          The industries are waiting for you, embark on your journey now.
        </p>
        <a href="{% url 'register-page' %}" class="btn btn-outline-danger mt-3 btn-enroll">
          Enroll Now
        </a>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Main Section -->
    <main id="main">
      <!-- ======= Study Program Section ======= -->
      <section id="study-program" class="courses">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Major</h2>
            <h3>Our Study Program</h3>
          </div>

          <div class="row g-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/accounting.jpg' %}"
                  class="img-fluid"
                  alt="A girl reading book in class"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Business</h4>
                  </div>

                  <h3><a href="https://www.itnb.ac.id/about-us/accounting">Accounting</a></h3>
                  <p>
                    Accounting opens countless employment in the business world.
                    In a broad sense, Accounting makes senses of numbers which
                    is an important part of any successful business...
                  </p>
                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/accounting"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/management.jpg' %}"
                  class="img-fluid"
                  alt="A man presenting his idea in class"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Business</h4>
                  </div>

                  <h3><a href="https://www.itnb.ac.id/about-us/management">Management</a></h3>
                  <p>
                    The Management Study Program provides a comprehensive basis
                    for a career in management while being flexible enough to
                    let you pursue areas that particularly interest you...
                  </p>
                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/management"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/entrepreneurship.jpg' %}"
                  class="img-fluid"
                  alt="A man going to college"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Business</h4>
                  </div>

                  <h3><a href="https://www.itnb.ac.id/about-us/entrepreneurship">Entrepreneurship</a></h3>
                  <p>
                    Entrepreneurs are not afraid to take risks, tackle
                    innovative solutions in order to boost their business
                    performance and ensure the highest income. Entrepreneurship
                    concentrates on business...
                  </p>
                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/entrepreneurship"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/international-trade.jpg' %}"
                  class="img-fluid"
                  alt="A girl sitting in library reading book"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Business</h4>
                  </div>

                  <h3><a href="https://www.itnb.ac.id/about-us/international-trade">International Trade</a></h3>
                  <p>
                    This program will analyze the causes and consequences of
                    international trade and investment. The program was built to
                    understand and investigate why nations trade, what they
                    trade...
                  </p>

                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/international-trade"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/information-system.jpg' %}"
                  class="img-fluid"
                  alt="Two men solving programming problems"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Technology</h4>
                  </div>

                  <h3><a href="https://www.itnb.ac.id/about-us/information-system">Information System</a></h3>
                  <p>
                    Information Systems Study program teaches the foundation of
                    science and application of Information Technology within an
                    organization. The curriculum of Information Systems Study
                    Program is unique...
                  </p>
                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/information-system"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item shadow">
                <img
                  src="{% static 'img/home/hospitality-management.jpg' %}"
                  class="img-fluid"
                  alt="A girl is cutting onion in kitchen"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4>Hotel Management</h4>
                  </div>

                  <h3>
                    <a href="https://www.itnb.ac.id/about-us/hospitality-management">Hospitality Management</a>
                  </h3>
                  <p>
                    Our Hospitality Management program is an international
                    hospitality and tourism program based on the curricula used
                    in Australia and Singapore. It is addressed at students who
                    want to pursue a career in...
                  </p>
                  <div
                    class="trainer d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="https://www.itnb.ac.id/about-us/hospitality-management"
                      class="btn btn-danger mt-3 btn-enroll"
                    >
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Study Program Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content bg-danger shadow">
                <h3>Why Studying at IB IT&B?</h3>
                <p>
                  There are tons of opportunities that you will achieve by
                  studying at IB IT&B. We have been trusted by parents and
                  students for 15 years in giving the best education at Medan, Indonesia.
                </p>
                <div class="text-center">
                  <a href="https://www.itnb.ac.id" class="more-btn">
                    Learn More <i class="bx bx-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-8 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0 shadow">
                      <i class="bx bx-receipt"></i>
                      <h4>Cultural Study Tour</h4>
                      <p>
                        Earn your free study tour trip to Kuala Lumpur for free.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0 shadow">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Professional Certification</h4>
                      <p>
                        We are working with the government to provide
                        you with the professional certification to jumpstart and level up your
                        career in the future.
                      </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0 shadow">
                      <i class="bx bx-images"></i>
                      <h4>English-Speaking Environment</h4>
                      <p>
                        At here, we aim to guide you in an English-Speaking
                        Environment in order to strengthen your english fluency.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

      <!-- ======= Admission Pathway Section ======= -->
      <section id="admission-pathway" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Admission Pathway</h2>
            <h3>General Requirement</h3>
          </div>

          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img
                src="{% static 'img/home/students-in-class.jpg' %}"
                class="img-fluid"
                alt="IB IT&B Students in class"
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <p class="fst-italic">
                The procedure of new intake registration as stated below.
              </p>
              <ul>
                <li>
                  <i class="icofont-check-circled"></i> Fill in the online
                  registration form.
                </li>
                <li>
                  <i class="icofont-check-circled"></i> Receive
                  <strong><em>LoA (Letter of Acceptance)</em></strong> in 3 days
                  after form submission via E-mail.
                </li>
                <li>
                  <i class="icofont-check-circled"></i> Payment through Finance
                  Bureau via telegraphic transfer.
                </li>
                <li>
                  <i class="icofont-check-circled"></i> Receive official payment
                  receipt through LINE or Whatsapp by our Education Consultant
                  Staff.
                </li>
                <li>
                  <i class="icofont-check-circled"></i> Required data to be
                  submitted upon <strong><em>September 2021</em></strong> or
                  informed by Education Consultant.
                </li>
              </ul>
              <p>
                For more detailed procedure, please contact one of our Education
                Consultant Staff for further instruction.
              </p>
              <a href="{% url 'register-page' %}" class="btn btn-danger mt-3 btn-enroll">
                Enroll Now
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Admission Pathway  Section -->

      <!-- ======= Entry Requirement Section ======= -->
      <section id="data-entry" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Requirement</h2>
            <h3>Data Entry Requirement</h3>
          </div>
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-1"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img
                src="{% static 'img/home/students-in-library.jpg' %}"
                class="img-fluid"
                alt="Two girls in library"
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content">
              <p class="fst-italic">
                The document that is needed to be submitted:
              </p>
              <ul>
                <li>
                  <i class="icofont-check-circled"></i> 12 Recent colored
                  photographs red background, black tie & black blazer
                  <ol>
                    <li>2x3 = 4 pcs</li>
                    <li>3x4 = 4 pcs</li>
                    <li>4x6 = 4 pcs</li>
                  </ol>
                </li>
                <li>
                  <i class="icofont-check-circled"></i> Photographs in hardcopy
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 2 copies of family card
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 2 copies of ID card
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 2 copies of birth
                  certificate
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 1 pcs folder map
                  <ol>
                    <li>Red for Management</li>
                    <li>Yellow for Accounting</li>
                    <li>Navy Blue for Information System</li>
                    <li>Soft Blue for Entrepreneurship</li>
                    <li>Brown for International Trade</li>
                    <li>Green for Hospitality Management</li>
                  </ol>
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 4 copies of Legalized
                  IJAZAH (Indonesia's Official Graduation School Certificate)
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 4 copies of Legalized
                  SKHU (Optional)
                </li>
                <li>
                  <i class="icofont-check-circled"></i> 4 copies of Legalized
                  SKHUN
                </li>
              </ul>
              <p>
                All of the documents must be completed in folder colored as a
                major that you choose.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Entry Requirement Section -->

      <!-- ======= Education Consultant Staff Section ======= -->
      <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Our Team</h2>
            <h3>Education Consultant</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member shadow">
                <img
                  src="{% static 'img/home/randy-brilliant.jpg' %}"
                  class="img-fluid"
                  alt="Randy Brilliant"
                />
                <div class="member-content">
                  <h4>Randy Brilliant</h4>
                  <span>Information System 2018</span>
                  <p>
                    Programming is for everyone, I am always amaze of how these things could change the world.
                  </p>
                  <div class="social">
                    <a href="http://line.me/ti/p/~randycb">
                      <i class="icofont-line"></i>
                    </a>
                    <a href="https://www.instagram.com/randybrilliant">
                      <i class="icofont-instagram"></i>
                    </a>
                    <a href="https://wa.me/6288261306403">
                      <i class="icofont-whatsapp"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member shadow">
                <img
                  src="{% static 'img/home/valentina.jpg' %}"
                  class="img-fluid"
                  alt="Valentina"
                />
                <div class="member-content">
                  <h4>Valentina</h4>
                  <span>Information System 2019</span>
                  <p>
                    Don't limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mine let's you. What you believe,remember,you can achieve.
                  </p>
                  <div class="social">
                    <a href="http://line.me/ti/p/~valentinaali72">
                      <i class="icofont-line"></i>
                    </a>
                    <a href="https://www.instagram.com/va_rene01">
                      <i class="icofont-instagram"></i>
                    </a>
                    <a href="https://wa.me/6281397735730">
                      <i class="icofont-whatsapp"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member shadow">
                <img
                  src="{% static 'img/home/vanessa.jpg' %}"
                  class="img-fluid"
                  alt="Vanesha Vionelli"
                />
                <div class="member-content">
                  <h4>Vanesha Vionelli</h4>
                  <span>Entrepreneurship 2020</span>
                  <p>
                    One Day or Day One, you decide.
                  </p>
                  <div class="social">
                    <a href="http://line.me/ti/p/~neshaaaa">
                      <i class="icofont-line"></i>
                    </a>
                    <a href="https://www.instagram.com/vaneshavionelli">
                      <i class="icofont-instagram"></i>
                    </a>
                    <a href="https://wa.me/6281321954878">
                      <i class="icofont-whatsapp"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member shadow">
                <img
                  src="{% static 'img/home/jeffry.jpg' %}"
                  class="img-fluid"
                  alt="Jeffry Gunawan"
                />
                <div class="member-content">
                  <h4>Jeffry Gunawan</h4>
                  <span>Entrepreneurship 2020</span>
                  <p>
                    Voluptas necessitatibus occaecati quia. Earum totam
                    consequuntur qui porro et laborum toro des clara
                  </p>
                  <div class="social">
                    <a href="http://line.me/ti/p/~neshaaaa">
                      <i class="icofont-line"></i>
                    </a>
                    <a href="https://www.instagram.com/vaneshavionelli">
                      <i class="icofont-instagram"></i>
                    </a>
                    <a href="https://wa.me/6281321954878">
                      <i class="icofont-whatsapp"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Education Consultant Staff Section -->
    </main>
    <!-- End Main Section -->
{% endblock content %}