{% extends 'regform/base.html' %}
{% load static %}

{% block title %}IB IT&B | Admission Successful{% endblock title %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/regform/register.css' %}" type="text/css" />
{% endblock customcss %}

{% block content %}
    <header>
      <nav class="navbar navbar-dark bg-danger">
        <div class="container">
          <a class="navbar-brand mx-auto" href="https://www.itnb.ac.id">
            <img src="{% static 'img/Logo IB IT&B Putih.png' %}" alt="IB IT&B" class="header-logo">
          </a>
        </div>
      </nav>
    </header>
    <main>
        <div class="alert alert-success container mt-5" role="alert">
          <h4 class="alert-heading fw-bold">Congratulations!</h4>
          <p>You are one step ahead to be one of our future students! we will review your application form shortly. In the meantime,
              please contact one of our Education Consultant Staff to seek for further instructions. In 3 days time, you will receive
              <strong>Letter of Acceptance (LOA)</strong> which stated that you have been accepted as one of our students. Thank you for applying
               to IB IT&B.
          </p>
          <hr>
          <figure class="text-center">
              <blockquote class="blockquote">
                <p>Education is the most powerful weapon which you can use to change the world</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                the one and only <cite title="Source Title">Nelson Mandela</cite>
              </figcaption>
          </figure>
        </div>
    </main>

{% endblock content %}